[submodule "ffmpeg"]
	path = ffmpeg
	url = ./ffmpeg
[submodule "x264"]
	path = x264
	url = http://git.videolan.org/git/x264.git
[submodule "libev"]
	path = libev
	url = https://github.com/enki/libev.git
[submodule "libevent"]
	path = libevent
	url = https://github.com/libevent/libevent.git
